.system-header-container {
  width: 100vw;
  height: 50px;
  background-color: rgb(72, 72, 237);
  z-index: 10000;

  .system-header-item-left {
    width: 60%;
    height: 100%;

    .system-header-text ul {
      display: none;
      opacity: 0;
      transform: scale(0);
      -webkit-transform: scale(0);
      transform-origin: top left;
      animation-fill-mode: forwards;
      -webkit-transition: all 0.3s ease-in-out;
      transition: all 0.3s ease-in-out;

      .system-header-option {
        margin: 2px 0;
        color: #004aac;
        background-color: #fff;
        transition: background-color 0.1s;
        font-weight: 500;
        line-height: 20px;
        padding: 10px 15px;
        overflow: hidden;
      }
      .system-header-option:hover {
        color: #004aac;
        background-color: #d3ecfc;
        font-weight: 600;
      }
    }
    .system-header-text:hover ul {
      display: flex;
      opacity: 1;
      transform: scale(1);
      -webkit-transform: scale(1);
    }
  }
  .system-header-item-right {
    .avatar-modal {
      font-size: 15px;
    }
  }
}

.bell {
  animation-name: shake-animation;
  animation-duration: 0.5s;
  animation-iteration-count: infinite;
  animation-delay: 5s; /* Đặt khoảng cách 1 giây giữa các lần lặp */
}

@keyframes shake-animation {
  0% {
    transform: rotate(0);
  }
  15% {
    transform: rotate(5deg);
  }
  30% {
    transform: rotate(-5deg);
  }
  45% {
    transform: rotate(4deg);
  }
  60% {
    transform: rotate(-4deg);
  }
  75% {
    transform: rotate(2deg);
  }
  85% {
    transform: rotate(-2deg);
  }
  92% {
    transform: rotate(1deg);
  }
  100% {
    transform: rotate(0);
  }
}
