.detail-teacher-container {
  max-width: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  .detail-teacher {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
    padding: 20px 15%;
    margin: 5px 0;

    &-avatar {
      background-repeat: no-repeat;
      background-size: cover;
      width: 120px;
      height: 120px !important;
      border-radius: 50%;
    }
    &-content {
      &-name {
        font-size: 20px;
        font-weight: bold;
      }
    }
  }
  .action-teacher {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
  }
  .description-teacher {
    background-color: #fff;
    padding: 15px 15%;
    width: 100%;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
  }
  .action-select {
    padding: 10px 15% 5px;
    // margin: 5px 0;
    width: 100%;
  }
}

.schedule-container {
  padding: 5px 15% 20px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
  .schedule-content {
    display: flex;
    width: 100%;
    align-items: center;
    gap: 30px;
    padding-top: 10px;

    &-time {
      display: flex;
      flex: 2;
      flex-direction: column;
      align-items: start;
      justify-content: center;
      gap: 10px;
      .schedule-content-body {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        flex-wrap: wrap;
        gap: 12px;
        padding-top: 10px;
      }
      .schedule-content-label {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        gap: 5px;
      }
    }
    &-contact {
      border-left: 1px solid #ddd;
      padding-left: 15px;
      flex: 1;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
  }
  .schedule-date {
    &:focus {
      outline: none;
    }
    & select {
      min-width: 17%;
      border: none;
      outline: none;
      color: #337ab7;
      border-bottom: 0.5px solid #999;
      border-radius: 0;
      font-weight: bold;
      padding: 3px;
    }
    & select:focus {
      outline: none;
      box-shadow: none;
    }
  }
}

.question-form-container {
  padding: 5px 15% 20px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
}

.detail-teacher-faculty-container {
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  .detail-teacher {
    width: 45%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 25px;
    padding-right: 10%;
    border-right: 1px solid #eee;
    &-avatar {
      background-repeat: no-repeat;
      background-size: cover;
      width: 80px;
      height: 80px !important;
      border-radius: 50%;
    }
    &-content {
      &-name {
        font-size: 20px;
        font-weight: bold;
      }
    }
  }
  .action-teacher {
    padding: 0 10px;
    width: 55%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }
  .description-teacher {
    background-color: #fff;
    padding: 15px 0;
    width: 100%;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
  }
  .action-select {
    padding-top: 10px;
    width: 100%;
  }
}

.schedule-faculty-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
  .schedule-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    width: 100%;
    gap: 10px;

    &-time {
      width: 100%;
      display: flex;
      // flex: 2;
      flex-direction: column;
      align-items: start;
      justify-content: center;
      gap: 10px;
      .schedule-content-body {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        flex-wrap: wrap;
        gap: 12px;
        // padding-top: 10px;
      }
      .schedule-content-label {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        gap: 5px;
      }
    }
    &-contact {
      border-top: 1px solid #eee;
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding: 5px 0;
    }
  }
  .schedule-date {
    &:focus {
      outline: none;
    }
    & select {
      min-width: 36%;
      border: none;
      outline: none;
      color: #337ab7;
      border-bottom: 0.5px solid #999;
      border-radius: 0;
      font-weight: bold;
      padding: 3px;
    }
    & select:focus {
      outline: none;
      box-shadow: none;
    }
  }
}

.question-form-faculty-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
}

.modal-schedule-overplay {
  z-index: 100 !important;
}
.modal-schedule-container {
  z-index: 101 !important;
  height: 375px;
  max-height: 375px;
}

.note-make-question {
  z-index: 102 !important;
}

.modal-confirm-schedule-overplay,
.modal-confirm-question-overplay {
  z-index: 102 !important;
}

.modal-confirm-schedule-container,
.modal-confirm-question-container {
  z-index: 103 !important;
}
