table {
  border-collapse: collapse;
  width: 100%;
}

td,
th {
  border: 1px solid #aaaa;
  text-align: left;
  padding: 8px;
}

thead tr:nth-child(1) {
  background-color: rgb(72, 72, 237);
  color: white;
}
tbody tr:nth-child(even) {
  background-color: #dddddd;
}
