//department

.section-item-department {
  cursor: pointer;
  margin: 0 auto;
  margin-left: 10px;
  min-height: 220px;
  max-width: 300px;
  width: 170px !important;
  height: 220px !important;
  display: block;
  transition: border-color 0.3s ease;
  box-shadow: 0 4px 20px rgba(224, 224, 224, 0.25);
  border: 2px solid #f6f6f6;
  border-radius: 15px;
  padding: 17px 10px 15px;
  background-color: #f6f6f6;
  overflow: hidden;
  text-align: center;

  .section-item-img-department {
    background-image: none;
    max-width: 100px;
    max-height: 100px;
    margin: 0 auto;
    overflow: hidden;
    display: flex;
    justify-content: center;
    .img {
      background-image: url("../../../assets//image/building.png");
      width: 80px;
      height: 80px;
      background-position: center center;
      background-repeat: no-repeat;
      background-size: cover;
    }
  }

  .section-item-text-department {
    margin: 0 auto;
    font-size: 14px;
    padding-top: 10px;
    color: #1d5193;
    font-weight: 600;
    text-align: center;
  }
}

.section-item-department:hover {
  border-color: #0189fd;
}
