//faculty

.section-item-faculty {
  cursor: pointer;
  margin: 0 auto;
  margin-left: 10px;
  min-height: 220px;
  max-width: 300px;
  width: 170px !important;
  height: 220px !important;
  display: block;
  transition: border-color 0.3s ease;
  box-shadow: 0 4px 20px rgba(224, 224, 224, 0.25);
  border: 2px solid #fff;
  border-radius: 15px;
  padding: 5px 4px 15px;
  background-color: #fff;
  // overflow: hidden;
  text-align: center;
  position: relative;

  .section-item-img-faculty {
    background-image: none;
    width: 90%;
    height: 60%;
    margin: 0 auto;
    // overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    .img {
      width: 71%;
      height: 85%;
      background-position: center center;
      background-repeat: no-repeat;
      background-size: contain;
    }
  }

  .section-item-text-faculty {
    margin: 0 auto;
    font-size: 14px;
    padding: 24px 3px 0;
    position: absolute;
    color: #1d5193;
    font-weight: 600;
    text-align: center;
  }
}

.section-item-faculty:hover {
  border-color: #0189fd;
}
