.section-item-health {
  display: flex;
  flex-direction: column;
  height: 500px;
  min-height: 500px;
  width: 25%;
  .item {
    width: 100%;
    height: 100%;
    background-color: transparent;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    .section-item-img-health {
      margin: 0 auto;
      z-index: 1;
      display: block;
      width: 100%;
      height: 65%;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center center;
      // overflow: hidden;
      border-radius: 15px 15px 0 0;
    }

    .section-item-text-health {
      margin: 0 auto;
      width: 100%;
      flex: 1;
      padding: 20px 20px 12px;
      position: relative;
      z-index: 4;
      flex-grow: 1;
      transition: background-color 0.5s ease;
      border-radius: 0 0 15px 15px;
      background-color: #fff;
      text-align: center;
      font-size: 16px;
      color: #000;
    }
  }
  &:nth-child(1) {
    .section-item-text-health::before {
      content: "";
      position: absolute;
      top: -10px;
      left: 50%;
      transform: translateX(-50%) rotate(45deg);
      transform-origin: center;
      width: 20px;
      height: 20px;
      background-color: inherit;
    }
  }
  &:nth-child(3) {
    .section-item-text-health::before {
      content: "";
      position: absolute;
      top: -10px;
      left: 50%;
      transform: translateX(-50%) rotate(45deg);
      transform-origin: center;
      width: 20px;
      height: 20px;
      background-color: inherit;
    }
  }
}

.section-item-health:nth-child(2),
.section-item-health:nth-child(4) {
  .section-item-img-health {
    border-radius: 0 0 15px 15px;
  }
  .section-item-text-health {
    border-radius: 15px 15px 0 0;
  }
  .section-item-text-health::before {
    content: "";
    position: absolute;
    bottom: -10px;
    left: 50%;
    transform: translateX(-50%) rotate(45deg);
    transform-origin: center;
    width: 20px;
    height: 20px;
    background-color: inherit;
  }
}

.section-item-health {
  .section-item-text-health:hover {
    background-color: #1d5193;
    color: #fff;
  }
  .section-item-img-health:hover ~ .section-item-text-health {
    background-color: #1d5193;
    color: #fff;
  }
}

.section-item-health:nth-child(2) {
  .item {
    flex-direction: column-reverse;
  }
}

.section-item-health:nth-child(4) {
  .item {
    flex-direction: column-reverse;
  }
}
